<script setup>
import {computed, ref, shallowRef} from "vue";
import {getBlocks, getRandomInt, TAC, TIC, winCombinations} from "./data.mock.js";

const winCombination = ref(null);
const currentMove = shallowRef(true);
const blocks = ref(getBlocks());
const gameVersusBot = shallowRef(true);
const loadingIfBotThink = shallowRef(false);

const gameResult = computed(() => {
  let result = null;
  for (let comb of winCombinations) {
    const combBlocks = blocks.value.filter(b => comb.includes(b.id));
    let isTicWin = combBlocks.every(b => b.selectedType === TIC);
    let isTacWin = combBlocks.every(b => b.selectedType === TAC)
    if (isTicWin || isTacWin) {
      winCombination.value = comb;
      result = `Игра окончена. Победили ${isTicWin ? 'Крестики' : 'Нолики'}`
      break;
    }
  }
  if (blocks.value.every(b => b.selectedType) && !result) {
    result = `Игра окончена. Ничья`
  }
  return result
});

function clickOnBlock(block) {
  if (block.selectedType || gameResult.value) return;
  block.selectedType = currentMove.value ? TIC : TAC;
  currentMove.value = !currentMove.value;
  if (gameVersusBot.value && !currentMove.value) {
    const freeBlocks = blocks.value.filter(b => !b.selectedType)
    const findedBlock = freeBlocks[getRandomInt(0, freeBlocks.length)];
    if (!findedBlock) return;
    loadingIfBotThink.value = true;
    setTimeout(() => {
      loadingIfBotThink.value = false;
      clickOnBlock(findedBlock)
    }, 600)
  }
}

function getIcon(type) {
  if (!type) return '';
  return type === TIC ? '&#10060;' : '&#11093;'
}

function startNewGame() {
  blocks.value = getBlocks();
  currentMove.value = true;
  winCombination.value = null;
}
</script>
<template>
  <div class="task__header">
    <h1 class="title">Крестики нолики</h1>
    <label>
      <input type="checkbox" v-model="gameVersusBot" @click="startNewGame">
      Играть против бота
    </label>
  </div>
  <div class="field" :class="{'loading': loadingIfBotThink}">
    <div class="field__block" v-for="b in blocks" @click="clickOnBlock(b)"
         :class="{'win': winCombination && winCombination.includes(b.id)}">
      <span v-html="getIcon(b.selectedType)"></span>
    </div>
  </div>
  <div class="task__footer">
    <button @click="startNewGame">Начать заново</button>
    <div class="field__game-over" v-if="gameResult">{{ gameResult }}</div>
  </div>
</template>
<style scoped>
.field {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  position: relative;
}

.field.loading:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.field__block {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.field__block > span {
  font-size: 70px;
  user-select: none;
}

.field__block.win {
  background: lightgreen;
}

.task__header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.task__header > label:before {
  content: "(бот глупенький и играет по рандомным клеткам)";
  font-size: 8px;
  position: absolute;
  bottom: -10px;
  left: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.task__header > label {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.task__header > label > input {
  transform: scale(1.5);
}


.task__footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.field__game-over {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  background: lightgreen;
  padding: 8px;
}

button {
  cursor: pointer;
  padding: 10px 15px;
}
</style>