<script setup>
const props = defineProps({
  img: {
    type: String,
    required: true,
    default: '' // todo: дописать
  },
  alt: {
    type: String,
    required: true,
    default: 'Аватар пользователя'
  },
  hasStory: Boolean,
  type: {
    type: String,
    default: 'large'
  }
})
</script>
<template>
  <div class="avatar" :class="{'active': hasStory, 'small-size': type === 'small'}">
    <img :src="img" :alt="alt" class="avatar__image">
  </div>
</template>
<style>
.avatar {
  width: 150px;
  height: 150px;
  padding: 5px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar.active {
  border: 2px solid red;
}

.avatar.small-size {
  width: 50px;
  height: 50px;
  padding: 3px;
  object-fit: fill !important;
}

.avatar__image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid gray;
  object-fit: cover;
}
</style>