<script setup></script>
<template>
  <div class="sidebar">
    <RouterLink to="/">Главная</RouterLink>
    <RouterLink to="/task-with-star">Задание со *</RouterLink>
  </div>

</template>
<style>
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  border-right: 1px solid gray;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
  gap: 50px;
}

.sidebar > a {
  font-weight: 700;
  font-size: 23px;
}

.sidebar > a {
  font-weight: 700;
  font-size: 23px;
  text-decoration: underline;
}
</style>