<script setup>
const props = defineProps({
  post: Object
})
</script>
<template>
  <div class="post-block">
    <div v-if="post.type === 'video'" class="post-block__video-icon">THIS IS VIDEO</div>
    <img :src="post.src" alt="">
    <div class="post-block__info">
      <span>&#x2764; {{ post.likes }}</span>
      <span>&#128172; {{ post.comments }}</span>
    </div>
  </div>
</template>
<style scoped>
.post-block {
  width: 268px;
  height: 268px;
  cursor: pointer;
  position: relative;
}

.post-block__info {
  z-index: 100;
  position: absolute;
  width: 268px;
  height: 268px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.post-block__info > span {
  color: white;
  display: none;
}

.post-block:hover .post-block__info {
  background-color: rgba(0, 0, 0, 0.23);
}

.post-block:hover .post-block__info > span {
  display: inline;
}

.post-block__video-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 500;
  padding: 5px;
  color: white;
  background-color: black;
  text-transform: uppercase;
}

.post-block > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>