<script setup>
import Avatar from "../Avatar.vue";
import {computed, ref} from "vue";
import {posts, user as userMock} from "../../core/data.mock.js";
import {useRoute} from "vue-router";

const route = useRoute();
const user = ref({...userMock})
const post = ref(posts.find(item => item.id === +route.params.id))
const isVideo = computed(() => post.value.type === 'video')

</script>
<template>
  <div class="post-detail">
    <video v-if="isVideo" :src="post.video" autoplay controls></video>
    <img v-else :src="post.src" alt="Фотография пользователя в просмотре детального поста">
    <div class="post-detail__desc description">
      <div class="post-detail__user">
        <Avatar :img="user.avatar.src" alt="123" type="small" :has-story="user.hasStories"/>
        <RouterLink to="/">
          <h1 class="title2">{{ user.nickname }}</h1>
        </RouterLink>
      </div>
      <div class="post-detail__text" v-html="post.text">
      </div>
      <div class="post-detail__bottom">
        <div class="post-detail__info">
          <div class="likes info">&#x2764; <span>{{ post.likes }} отметок нравится</span></div>
        </div>
        <input type="text" class="post-detail__input" placeholder="Добавьте комментарий">
      </div>
    </div>
  </div>
</template>
<style scoped>
.post-detail {
  height: 80vh;
  border: 1px solid black;
  display: flex;
  border-radius: 5px;
}

.post-detail > img {
  height: 100%;
  width: 540px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.post-detail > video {
  height: 100%;
  width: 540px;
}

.post-detail__desc.description {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.post-detail__text {
  padding: 10px;
  max-height: 63%;
  overflow-y: auto;
  line-height: 20px;
}

.post-detail__bottom {
  position: absolute;
  bottom: 0;
  width: 278px;
}

.post-detail__user {
  padding: 10px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 15px;
}

.post-detail__input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  border: none;
  border-top: 0.3px solid gray;
  outline: none;
  border-radius: 0 0 5px 5px;
}

.post-detail__info {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 30px;
}

.info.likes {
  color: red;
  cursor: pointer;
}


.info > span {
  display: block;
  font-size: 16px;
  color: black;
  cursor: text;
}
</style>
