<script setup>
import Sidebar from "./components/Sidebar.vue";
</script>
<template>
  <Sidebar/>
  <main class="main">
    <section class="content">
      <RouterView/>
    </section>
  </main>
</template>
<style>
.main {
  margin-left: 220px;
  padding: 50px 30px;
}

.content {
  width: 820px;
  margin: 0 auto;
}
</style>