<script setup>
import PostBlock from "../Common/PostBlock.vue";
import {ref} from "vue";

const props = defineProps({
  posts: {
    type: Array,
    default: []
  }
})

const tabs = ref([
  {
    name: 'Публикации',
    icon: '',
    selected: true,
  },
  {
    name: 'Reels',
    icon: '',
    selected: false,
  },
  {
    name: 'Отметки',
    icon: '',
    selected: false,
  }
])

function selectTab(tab) {
  tabs.value.forEach((t) => t.selected = false);
  tab.selected = true;
}
</script>
<template>
  <div class="body">
    <div class="body__header">
      <ul class="list">
        <li v-for="tab in tabs" class="list__item" :class="{'active': tab.selected}" @click="selectTab(tab)" :key="tab.name">{{
            tab.name
          }}
        </li>
      </ul>
    </div>
    <div class="body__content-grid">
<!--      -->
      <RouterLink v-for="post in posts" :key="post.id" :to="`posts/${post.id}`">
        <PostBlock :post="post"/>
      </RouterLink>
    </div>
  </div>
</template>
<style scoped>
.body__header > .list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.body__header > .list > .list__item {
  line-height: 50px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.body__header > .list > .list__item.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: -1px
}

.body__content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
</style>