<script setup>
import Avatar from "../Avatar.vue";

const props = defineProps({
  user: {
    type: Object,
    required: true
  }
})

function subscribe() {
  alert('subscribe')
}

function sendMessage() {
  prompt('Сообщение: ')
}
</script>
<template>
  <div class="header">
    <div class="header__avatar">
      <Avatar :img="user.avatar.src" alt="Аватар пользователя" :has-story="user.hasStories"/>
    </div>
    <div class="header__info info">
      <div class="info__row info_top">
        <h1 class="info__title title">{{ user.nickname }}</h1>
        <div class="info__actions">
          <button class="button" @click="subscribe">Подписаться</button>
          <button class="button" @click="sendMessage">Отправить сообщение</button>
          <button class="button">...</button>
        </div>
      </div>
      <div class="info__row info_mid">
        <div class="info__count">
          <span class="info__bold">{{ user.postsCount }}</span> Публикаций
        </div>
        <div class="info__count">
          <span class="info__bold">{{ user.followers }}</span> Подписчики
        </div>
        <div class="info__count">
          <span class="info__bold">{{ user.following }}</span> Подписки
        </div>
      </div>
      <div class="info__row info_bottom">
        <h2 class="title2">{{ user.name }}</h2>
        <p>{{ user.profileDescription }}</p>
        <a :href="user.ownLink" target="_blank" class="info__link">{{ user.ownLink }}</a>
      </div>
    </div>
  </div>
</template>
<style scoped>
.header {
  padding: 0 15px 34px 15px;
  display: grid;
  grid-template-columns: 250px auto;
  grid-column-gap: 30px;
  border-bottom: 0.5px solid gray;
}

.header__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__info.info {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.info__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info__count {
  cursor: pointer;
}

.info__bold {
  font-weight: 500;
}

.info__link {
  font-size: 14px;
  color: black;
  margin-top: 5px;
}

.info__row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info__row.info_top {
  justify-content: space-between;
  margin-bottom: 10px;
}

.info__row.info_mid {
  gap: 50px;
}

.info__row.info_bottom {
  align-items: flex-start;
  flex-direction: column;
}
</style>