<script setup>
import UserHeader from './UserHeader.vue';
import {ref} from "vue";
import UserBody from "./UserBody.vue";
import {user as userMock, posts} from "../../core/data.mock.js";

const user = ref({...userMock, posts});

</script>
<template>
  <div class="user-profile">
    <UserHeader :user="user"/>
    <UserBody :posts="user.posts"/>
  </div>
</template>
<style>
</style>