@import url('./reset.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.title2 {
  font-size: 16px;
  font-weight: 500;
}

.button {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.15s ease-in-out background-color;
}

.button:hover {
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: black;
}